<caption align=top><strong>Click on the small images to see them full size</strong></caption>
<div class="image-gallery">
  {% assign sorted = site.static_files | sort: 'date' | reverse %}
  {% for file in sorted %}
    {% if file.path contains include.images %}
    {% if file.extname == '.png' or file.extname == '.jpg' %}
      {% assign filename = (file.path | split: "/") | last | replace: file.extname,"" %}
      <div class="box"><a href="{{ file.path | relative_url }}" title="{{ filename }}">
        <img src="{{ include.thumbs }}/{{ file.name }}" alt="{{ filename }}" class="gallery-image" />
      </a></div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>